<!DOCTYPE html>
<html>
	<head>
		<title>Upload Image File</title>
	</head>
	<body>
		<form method="post" action="/upload" enctype="multipart/form-data">
			<input type="hidden" name="auth" value={{ . }}/>
			<input type="file" name="data" required />
			<br/>
			<button type="submmit">Upload</button>
		</form>
	</body>
</html>